{% extends 'base.html' %} {% block title %}Sign up{% endblock %} {% block footer
%}

<script>
  $.validator.addMethod(
    "validPassword",
    function (value, element, param) {
      if (value != "") {
        //check if value is not empty
        if (value.match(/.*[a-z]+.*/i) == null) {
          //at least one letter
          return false;
        }
        if (value.match(/.*\d+.*/) == null) {
          //at least one number
          return false;
        }
      }

      return true;
    },
    "Must contain at least one letter and one number"
  );

  $(document).ready(function () {
    /**
     * Validate the form
     */
    $("#formSignup").validate({
      rules: {
        name: "required",
        email: {
          required: true,
          email: true,
          remote: "/account/validate-email",
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true,
        },
      },
      messages: {
        email: {
          remote: "email already taken",
        },
      },
    });

    /**
     * Show password toggle button
     */
    $("#inputPassword").hideShowPassword({
      show: false,
      innerToggle: "focus",
    });
  });
</script>

{% endblock %} {% block body%}

<h1>Sign up</h1>

{% if user.errors is not empty %}

<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<!-- <form method="post" action="/signup/create"> -->
<form action="/signup/create" method="post" id="formSignup">
  <!-- id for selecting in jquery validation form -->
  <!--  <form action="index.php?signup/create" method="post"> if apache config are default -->
  <div>
    <label for="inputName">Name</label>
    <input
      class="form-control"
      id="inputName"
      name="name"
      placeholder="Name"
      autofocus
      value="{{ user.name }}"
      required
    />
    <!--  accessing user object properties -->
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input
      class="form-control"
      id="inputEmail"
      name="email"
      placeholder="email address"
      value="{{ user.email }}"
      required
      type="email"
    />
    <!--  accessing user object properties -->
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input
      class="form-control"
      type="password"
      id="inputPassword"
      name="password"
      placeholder="Password"
      required
    />
  </div>
  <div class="form-group">
    <label for="inputPasswordConfirmation">Repeat password</label>
    <input
      class="form-control"
      type="password"
      id="inputPasswordConfirmation"
      name="password_confirmation"
      placeholder="Repeat password"
      required
    />
  </div>

  <button type="submit" class="btn btn-outline-primary">Sign up</button>
</form>

{% endblock %}
