{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<!-- <p>Hello from a Twig template, {{ name }}!</p>

<ul>
  {% for colour in colours %}
  <li>{{ colour }}</li>
  {% endfor %}
</ul> -->

<h1>
  Welcome{%if is_logged_in %}{{ session.user_name }} to our web site{% endif %}
</h1>

<!-- {% if session.user_id %} User with ID {{ session.user_id }} is logged in.
<a href="/public/index.php?logout">Log out</a>
{%else %}
<a href="/signup/new">Sign up</a> or <a href="/login">log in</a>. {% endif %} 
 -->

{%if current_user %} Hello {{ current_user.name }}.
<a href="/logout">Log out</a>
{% if session.user_id %} User with ID {{ session.user_id }} is logged in. {%
endif %} {% else %}
<a href="/signup/new">Sign up</a> or <a href="/login">log in</a>. {% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="thumbnails row">
      {% for post in posts %}

      <div class="col-xs-6 col-md-3">
        <a
          href="http://mvc.hr:8080/comments/index?id={{ post.id }}"
          class="thumbnail"
        >
          <img
            src="admin/posts/{{ post.image }}"
            width="170px;"
            height="50px"
            alt=""
          />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{%endblock %}
