{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<!-- <p>Hello from a Twig template, {{ name }}!</p>

<ul>
  {% for colour in colours %}
  <li>{{ colour }}</li>
  {% endfor %}
</ul> -->

<h1>
  Welcome{%if is_logged_in %}{{ session.user_name }} to our web site{% endif %}
</h1>

<!-- {% if session.user_id %} User with ID {{ session.user_id }} is logged in.
<a href="/public/index.php?logout">Log out</a>
{%else %}
<a href="/signup/new">Sign up</a> or <a href="/login">log in</a>. {% endif %} 
 -->

{%if is_logged_in %}
<a href="/public/index.php?logout">Log out</a>
{% if session.user_id %} User with ID {{ session.user_id }} is logged in. {%
endif %} {% else %}
<a href="/public/index.php?signup/new">Sign up</a> or
<a href="/public/index.php?login">log in</a>. {% endif %} {%endblock %}
